
.logo{
    background:center center no-repeat url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week5/logo-ANSWER.svg);
    width: 70%;
    height: 40px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar{
    min-width:250px;
    height: 100%;
}

// .sidebar-footer{
//     position: fixed;
//     bottom:32px;
//     left: 32px;
// }

// //清除浮動
// .sidebar-footer::after{
//     display: block;
//     content: "";
//     clear: both;
// }

.sidebar-footer-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar-item{
    a:hover{
        color:#2A8356 !important;
        background-color: transparent !important;
        border-left: 4px solid #2A8356 !important;
    
    }
    .active{
        color:#2A8356 !important;
        border-left: 4px solid #2A8356 !important;
    }
    
} 