


.sidebar{
    min-width:250px;
    height: 100%;
}

// .sidebar-footer{
//     position: fixed;
//     bottom:32px;
//     left: 32px;
// }

// //清除浮動
// .sidebar-footer::after{
//     display: block;
//     content: "";
//     clear: both;
// }

.sidebar-footer-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar-item{
    a:hover{
        color:#2A8356 !important;
        background-color: transparent !important;
        border-left: 4px solid #2A8356 !important;
    
    }
    .active{
        color:#2A8356 !important;
        border-left: 4px solid #2A8356 !important;
    }
    
} 