
//文字大小
.fz-14{
    font-size: 14px;
}

//文字顏色
.c-darkGreen{
    color: #2A8356;
}
.c-dark{
    color: #121212;
}
.c-lightGray{
    color: #0000009A;
}

//文字對齊
.ta-left{
    text-align-last: left;
}

//外推擠
.ml-2{
    margin-left: 16px !important;
}
.ml-32{
    margin-left: 256px;
}
.mb-4{
    margin-bottom: 32px !important;
}
.mb-41{
    margin-bottom: 328px;
}
.mr-2{
    margin-right: 16px !important;
}
//內推擠
.pt-4{
    padding-top: 32px !important;
}
.pb-4{
    padding-bottom: 32px !important;
}
.pl-4{
    padding-left: 32px !important;
}
