

.Largehead{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.collapse{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 0;
    right:0px;
}

// @media(min-width:540px){
//     .maskAsRead{
//         margin-bottom: 16px !important;
//     }
// }